
body,html{
    width: 100vw;
    height: 100vh;    
    margin:0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    background-color: black;
    
}


  
 
  
a {

   text-decoration: none;
  
  }
  
  li {
  
   list-style: none;
  
  }

  /* NAVBAR STYLING STARTS */

.navbar {

   display: flex;
  
   align-items: center;
  
   justify-content: space-between;
  
   padding: 20px;
  
   background-color: teal;
  
   color: #fff;
  
  }
  
  .nav-links a {
  
   color: #fff;
  
  }
  
  /* LOGO */
  
  .logo {
  
   font-size: 32px;
  
  }
  
  /* NAVBAR MENU */
  
  .menu {
  
   display: flex;
  
   gap: 1em;
  
   font-size: 18px;
  
  }
  
  .menu li:hover {
  
   background-color: #4c9e9e;
  
   border-radius: 5px;
  
   transition: 0.3s ease;
  
  }
  
  .menu li {
  
   padding: 5px 14px;
  
  }
  
  /* DROPDOWN MENU */
  
  .services {
  
   position: relative; 
  
  }
  

.wrapper{
    width:100%;
    height:100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    
}

.content{
  background-color: green;
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.sidebar{
    position: fixed;
    
    width: 300px;
    top:40%;
    left:0;
    z-index: 1;
    list-style: none;
}


.dot {
    height: 45px;
    width: 10px;
    background: rgba(255, 255, 255, 0.65);    
    backdrop-filter: blur( 50px );
    -webkit-backdrop-filter: blur( 60px );
    border-radius: 10px;    
    border-radius: 0%;
    display: block;
    margin-top:20px;
    margin-left:50px ;
    transition: all .75s ease;
    font-size: 0;
    
    
  }
  .dot a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
  }
  .dot:hover{
    width:250px;
    font-size: 28px;
    
  }
     
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    position: relative;
}
.content h1{
    
    color: white;
    font-family:  sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 5rem;
    width: 100%;
  
}
.one{
   background-image: url('../images/saddle1.jpg');   
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
    
    
}
.two{
    background-image: url('../images/saddle2.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
}
.three{
    background-image: url('../images/saddle3.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;

}
.four{
    background-image: url('../images/saddle4.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;

}
.five{
    background-image: url('../images/saddle5.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;

}


@media (max-width:750px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > ul li a {
      display: block;
      width: 100%;
    }

    /*   */


    
      .nav > .nav-links > ul li{
        display: block;
        margin-bottom: 20px;
        padding: 0;
        background-color: #333;
         
      }
      .nav > .nav-links > ul li a{
          margin-left: 40%;
      }
      .nav .nav-links ul a.icon{
        margin-left: 33%;
      }

    /*   */
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }